
@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 800px) {// my fix can always undo after checking

    #about_me {
        .education-experience {
            .education-key-experience {
                padding-right: 0;
            }
        }
    } 
    
    #contact {
        .container {
            margin-top: 80px;
            .info {
                .form {
                    padding-right: 12px;
                }

                .info {
                    margin-top: 50px;
                    padding-left: 12px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #home {
        .image {
            justify-content: flex-start;
            
            height: unset;
            margin-top: 30px;
            margin-bottom: 40px;
        }
        #home .image img {
            max-width: 100%;
            height: auto;
        }
    }

    #contact {
        .container {
            .info {
                margin-top: 80px;
            }
        }
    }

    
    
}



@media (max-width: 767px) {
    #sidebar {
        background: darken($secondary, 30%);
        opacity: 0.8;// normal no opacity change back if not liked.
        padding-right: 60px;
        transform: translateX(-100%);// to hide on start
        transition: all 0.4s;
        

        &.open {// obviosly when open/clicked
            transform: translateX(0);
            
        }

        .toggle-sidebar {
            display: flex;
        }

        .logo {
            text-align: left;
        }
        nav ul li {
            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                span {
                    display: block;
                    padding-left: 8px;
                }
            }

            span {
                display: none;
            }
        }

        .la-bars {
            color: $pink;
        }
    }

    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 19px;
    }

    main {
        padding-left: 0;
        //padding-top: 50px;//temp hide, will remove later
    }

    > section {
        padding-right: 32px;
        padding-left: 32px;
    }

    #home {

        .info {
            padding-top: 50px;

            

            .socials {
                margin-top: 50px;

                ul {
                    justify-content: space-between;
                }
            }
        }
    }

    
    

    #about_me {
        .hero .info .buttons {
            flex-direction: column;

            a {
                width: 100%;
                text-align: center;

                &:first-child {
                    margin-bottom: 16px;
                }
            }
        }
    }

    #contact {
        .container {
            .info {
                .item {
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    padding-right: 110px;

                    i {
                        margin-right: 0;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}